<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.cykj.mapper.AdminMapper" >
    <insert id="addAdmin" parameterType="Admin">
--         主键先查，序列自增长
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            select user_seq.nextval from admin
        </selectKey>
        insert into admin(userId,userName,password)values(#{userId},#{userName},#{password})
    </insert>
    <delete id="deleteAdminById" parameterType="Admin">
        delete from admin where userId=#{userId}
    </delete>
    <update id="updateAdmin" parameterType="Admin">
--         update admin set userName=#{userName},password=#{password} where userId=#{userId}
<!--            update admin-->
<!--            <set>-->
<!--                <if test="userName !=null">-->
<!--                    userName=#{userName}-->
<!--                </if>-->
<!--                <if test="password !=null">-->
<!--                    password=#{password}-->
<!--                </if>-->
<!--            </set>-->
--         prefix 前缀覆盖并增加其元素
--         prefixOverrides 前缀的判断条件
--         suffix 后缀覆盖并增加其元素
--         suffixOverrides 后缀的判断条件
            update  admin
            <trim prefix="set" prefixOverrides=",">
                ,userName=#{userName},password=#{password}
            </trim>
            <where>
                <if test="userId !=null">
                    userId=#{userId}
                </if>
            </where>
    </update>
    <select id="findAll" resultType="Admin" parameterType="Admin">
        <!--        select * from admin-->
        <!--        <if test="userId !=null">-->
        <!--            where userId=#{userId}-->
        <!--        </if>-->
        -- select * from admin where 1=1
<!--                    <choose>-->
<!--                        <when test="userName !=null">-->
<!--                            and userName like #{userName}-->
<!--                        </when>-->
<!--                        <otherwise>-->
<!--                            and id = 1-->
<!--                        </otherwise>-->
<!--                    </choose>-->
        select * from admin
        <if test="userId !=null">
            <where>
                userId=#{userId}
            </where>
        </if>
    </select>

    <select id="findIn" parameterType="list" resultType="Admin">
        select * from admin where userId in
        <foreach collection="list" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </select>
</mapper>